@model torsion.Models.Menus
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/metro/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/bootstrap-responsive.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/unicorn_main.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/unicorn_grey.css" class="skin-color" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bshome/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bshome/unicorn.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
</head>
<body>
@{
    
}
    <div id="header">
        <h1 onclick=""></h1>
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav btn-group" style="width: auto; margin: 0px;">
            <li class="btn btn-inverse"><a title="" onclick="iFrameHeight('bb')"><i class="icon icon-user">
            </i><span class="text">Profile</span></a></li>
            <li class="btn btn-inverse dropdown" id="menu-messages"><a href="index.html#" data-toggle="dropdown"
                data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope">
                </i><span class="text">Messages</span> <span class="label label-important">5</span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#">new message</a></li>
                    <li><a class="sInbox" title="" href="index.html#">inbox</a></li>
                    <li><a class="sOutbox" title="" href="index.html#">outbox</a></li>
                    <li><a class="sTrash" title="" href="index.html#">trash</a></li>
                </ul>
            </li>
            <li class="btn btn-inverse"><a title="" href="index.html#"><i class="icon icon-cog">
            </i><span class="text">Settings</span></a></li>
        </ul>
    </div>
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-th-list"></i>Menu</a>
        <ul style="display: block;">
        @{
            string mainmenu = "active";
            int parid = -1;
        }
            @foreach (torsion.Models.Menus.HomeMenu mhm in Model.hm)
            {
               <li class="@mainmenu"><a href="#" frameurl="@mhm.url" onclick="seltab(this)" menuid=@mhm.id parid=@parid>
               @if (mainmenu != "submenu")
               {
                   mainmenu = "submenu";
                   parid = 0;
               } 
               <i class="icon icon-th-list"></i>
               <span>@mhm.name</span> 
               @if (mhm.shm.Length > 0)
               {
                   <span class="label">@mhm.shm.Length</span>
               }
               </a>
               @if (mhm.shm.Length > 0)
               {
                   <ul style="display: none;">
                   @foreach (torsion.Models.Menus.SubHomeMenu mshm in mhm.shm)
                   {                       
                    <li><a href="#" frameurl="@mshm.url" onclick="seltab(this)" menuid=@mshm.id parid=@mhm.id>@mshm.name</a></li>
                   }
                   </ul>
               }
            </li>
            }
        </ul>
    </div>
    <div id="content">
        <div id="content-header">
        </div>
        <div id="breadcrumb">
   
            <a href="#" onclick="selmenu(this)" class="current" menuid=@Model.hm[0].id><i class="icon-home"></i>@Model.hm[0].name</a> 
@*            <a href="#" onclick="seltab(2,1)" class="current">Dashboard x</a>*@
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="glftabs" class="easyui-tabs" data-options="tools:'#tab-tools'" style="width: 100%;">
                   
                </div>
                <div id="footer" class="span12">
                    2012 © Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">
                        diablo9983</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="typeahead dropdown-menu">
    </ul>
    <script type="text/javascript">
        $('#glftabs').tabs({
            plain: true,
            narrow: true,
            // pill: true,
            justified: true,
            onBeforeClose: function (title, index) {
                var target = this;
                var opts = $(target).tabs('options');
                opts.onBeforeClose = function () { }; //允许现在关闭
                $(target).tabs('close', index);
                return false;
            }
        }
        );
        $("#breadcrumb").children("a:first").click();
        function iFrameHeight(obj) {
            var tid = $(obj).attr("name");
            var thisheight = $(window.frames[tid].document).find("html").height(); //获取页面高度
            $(obj).height(thisheight);
            
            //$(obj).attr("glf_hight", thisheight);
        }
        function glf_newtab(menuid,iframeurl) {
            var tid = "glftabs_" + menuid;
            var ttid = "#" + tid;
            $('#glftabs').tabs('add', {
                title: 'glftabs_' + menuid,
                content: '<iframe id=' + tid + ' name =' + tid + ' onload="iFrameHeight(this)"  scrolling=auto   frameborder="0" src="' + iframeurl + '" style="width: 100%;"></iframe>',
                closable: true,
                selected: true
            });
            $('#glftabs').tabs('getTab', tid).panel('options').tab.hide();   
          // $('#glftabs').tabs('getTab',tid).panel('options').tab.hide();
        }

        function seltab(obj) {
            var menuid = $(obj).attr("menuid");
            var parid = $(obj).attr("parid");
            if (parid == 0)
                return;
            var tid = "glftabs_" + menuid;
            if (!$('#glftabs').tabs('exists',tid)) {
                glf_newtab(menuid, $(obj).attr("frameurl"));
            }
            else
                $("#glftabs").tabs("select", tid);
            //<a href="#" onclick="seltab(2,1)" class="current">Dashboard x</a>
            chgbdcb(obj);
//            var glftabs = $('#glftabs').tabs('tabs');
//            for (var i = 0; i < glftabs.length; i++) {
//                glftabs[i].panel('options').tab.hide();           
//            }
            
        }
        function chgbdcb(obj) {
            var menuid = $(obj).attr("menuid");
            var parid = $(obj).attr("parid");
            $("#breadcrumb").children("a").removeClass("current");
            $('#sidebar').find('li.active').removeClass('active');
            if (parid < 0) {
                $("#breadcrumb").children("a[menuid=" + menuid + "]").addClass("current");
            }

            if (parid > 0) {
            var li = $('#sidebar').find("a[menuid=" + parid + "]").parent("li");
                li.removeClass('open').addClass('active');
                if (li.width() < 50)
                    li.children("ul").css('display', 'none');
            }
                
            else
                $('#sidebar').find("a[menuid=" + menuid + "]").parent("li").addClass('active');
            if (parid < 0) return;
            $("#breadcrumb").children("a[menuid=" + menuid + "]").remove();
            $("#breadcrumb").append('<a href="#" onclick="selmenu(this)" menuid=' + menuid + ' class="current">' + $(obj).text() + '</a>');
            
    

        }
        function selmenu(obj) {
            $("#sidebar").find("a[menuid=" + $(obj).attr("menuid") + "]").click();
        }
    </script>
</body>
</html>
