@model torsion.Model.Menus
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/metro/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/bootstrap-responsive.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/unicorn_main.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/unicorn_grey.css" class="skin-color" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bshome/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bshome/unicorn.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
</head>
<body>
<ul>
      @foreach (torsion.Model.Menus.ParMenus mmt in Model.lpm)
            {
                string str = mmt.par.parid == -1 ? "active" : "submenu";
          
                <li class="@str">
                <a href="#" frameurl="@mmt.par.url" onclick="seltab(this)" menuid=@mmt.par.id parid=@mmt.par.parid>
               
               <i class="icon @mmt.par.ico"></i>
               <span>@mmt.par.name</span> 

               @if(mmt.sub.Count > 0)
               {
                   <span class="label">@mmt.sub.Count</span>
               }
               </a>
               
               if(mmt.sub.Count > 0)
               {
                   <ul style="display: none;">
                   @foreach (torsion.Model.Menus.MenusTitle mshm in mmt.sub)
                   {                       
                    <li><a href="#" frameurl="@mshm.url" onclick="seltab(this)" menuid=@mshm.id parid=@mshm.id>@mshm.name</a></li>
                   }
                   </ul>
                }
                </li>
            }
                  </ul>
      
</body>
</html>
