@model torsion.Model.Menus
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*    <link rel="stylesheet" type="text/css" href="~/Content/themes/metro/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/icon.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/bootstrap-responsive.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/unicorn_main.css" />
    <link rel="stylesheet" href="~/Content/themes/bshome/unicorn_grey.css" class="skin-color" />*@
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
   <style type="text/css">
body{margin:0px;padding:0px;}
.glf_mvBox{height:15px; background:#F5FAFD url("/Content/themes/img/loading_1_2.png") no-repeat left center; width:471px; position:relative; padding:0 30px; margin:0 auto;}
.glf_mvBtn{position:absolute; left:50px; top:0;}
.glf_mvTxt{height:50px; line-height:50px; width:531px; text-align:center; font-size:30px; color:#29B6FF; font-family:Arial; margin:0 auto;}
#glf_loading  
{
    background:#F5FAFD;
position:absolute;  
text-align:center;  
 z-index:9999;

}  
</style>


</head>
<body>
<div id="glf_loading" style="width:100%;height:100%;padding-top:100px">
<div class="glf_mvTxt">Loading...</div>
<div class="glf_mvBox">
 <img class="glf_mvBtn" src="~/Content/themes/img/loading_1_1.png" alt="loading" style="left: 143px;"/>
</div>
</div>
<script type="text/javascript">
//450
    var delVal = 30;
    var atVal = 50;
    var timeload;
    function autoMove() {
        if (delVal >= atVal) return;
        delVal++;
        if (delVal > atVal) {
            delVal = atVal;
        }
        $(".glf_mvBtn").css("left", delVal);
        $(".glf_mvTxt").text("Loading(" + parseInt(delVal / 4.5) + "%)...");
        if (atVal >= 450) {
            clearInterval(timeload);
            $("#glf_loading").remove();
        }
        
    }
    timeload = setInterval(autoMove, 16);
//    var deNum = 0;
//    function autoTsq() {
//        $(".mvSq").css("color", "#F5FAFD");
//        setTimeout(function () { $(".mvSq").eq(0).css("color", "#29B6FF") }, 0);
//        setTimeout(function () { $(".mvSq").eq(1).css("color", "#29B6FF") }, 500);
//        setTimeout(function () { $(".mvSq").eq(2).css("color", "#29B6FF") }, 1000);
//    }
    //    setInterval(autoTsq, 1500);
    var csshref = ["/Content/themes/metro/easyui.css","/Content/themes/icon.css","/Content/themes/bshome/bootstrap.css",
    "/Content/themes/bshome/bootstrap-responsive.css", "/Content/themes/bshome/unicorn_main.css", "/Content/themes/bshome/unicorn_grey.css"];
    for(var i = 0;i<csshref.length;i++) {
        $("head").append("<link>");
        css = $("head").children(":last");
        css.attr({
            rel: "stylesheet",
            type: "text/css",
            href: csshref[i]
        });
        atVal += 20;
    }

</script>

    <script type="text/javascript" src="~/Scripts/bshome/bootstrap.min.js"></script>
    <script type="text/javascript">
        atVal += 40;
</script>
    <script type="text/javascript" src="~/Scripts/bshome/unicorn.js"></script>
    <script type="text/javascript">
        atVal += 20;
</script>
    <script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        atVal += 40;
</script>

    <div id="header">
        <h1 onclick=""></h1>
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav btn-group" style="width: auto; margin: 0px;">
            <li class="btn btn-inverse"><a title="" onclick="glf_refresh()"><i class="icon icon-refresh">
            </i><span class="text">Refresh</span></a></li>
            <li class="btn btn-inverse dropdown" id="menu-messages"><a href="index.html#" data-toggle="dropdown"
                data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope">
                </i><span class="text">Messages</span> <span class="label label-important">5</span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#">new message</a></li>
                    <li><a class="sInbox" title="" href="index.html#">inbox</a></li>
                    <li><a class="sOutbox" title="" href="index.html#">outbox</a></li>
                    <li><a class="sTrash" title="" href="index.html#">trash</a></li>
                </ul>
            </li>
            <li class="btn btn-inverse"><a title="" onclick="glf_height()"><i class="icon icon-cog">
            </i><span class="text">Settings</span></a></li>
        </ul>
    </div>
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-th-list"></i>Menus</a>
        <ul style="display: block;">
    
            @foreach (torsion.Model.Menus.ParMenus mmt in Model.lpm)
            {
                
                string str = mmt.par.parid == -1 ? "active" : "submenu";
             
                <li class="@str"> 
                <a href="#" frameurl="@mmt.par.url" onclick="seltab(this)" menuid=@mmt.par.id parid=@mmt.par.parid>
               
               <i class="icon @mmt.par.ico"></i>
               <span>@mmt.par.name</span> 

               @if(mmt.sub.Count > 0)
               {
                   <span class="label">@mmt.sub.Count</span>
               }
               </a>
               
               @if(mmt.sub.Count > 0)
               {
                   <ul style="display: none;">
                   @foreach (torsion.Model.Menus.MenusTitle mshm in mmt.sub)
                   {                       
                    <li><a href="#" frameurl="@mshm.url" onclick="seltab(this)" menuid=@mshm.id parid=@mshm.id>@mshm.name</a></li>
                   }
                   </ul>
                }
                </li>
            }
        </ul>
    </div>
    <div id="content">
        <div id="content-header">
        </div>
        <div id="breadcrumb">
   
            <a href="#" onclick="selmenu(this)" class="current" menuid=@Model.lpm[0].par.id><i class="icon-home"></i>@Model.lpm[0].par.name</a> 
@*            <a href="#" onclick="seltab(2,1)" class="current">Dashboard x</a>*@
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="glftabs" class="easyui-tabs" data-options="tools:'#tab-tools'" style="width: 100%;">
                   
                </div>
                @*<div id="footer" class="span12">
                    2012 © Unicorn Admin <a href="https://wrapbootstrap.com/user/diablo9983">
                        anviz</a>
                </div>*@
            </div>
        </div>
    </div>
    <ul class="typeahead dropdown-menu">
    </ul>
    <script type="text/javascript">
        atVal += 40;
        $('#glftabs').tabs({
            plain: true,
            narrow: true,
            // pill: true,
            fit:true,
            justified: true,
            onBeforeClose: function (title, index) {
                var target = this;
                var opts = $(target).tabs('options');
                opts.onBeforeClose = function () { }; //允许现在关闭
                $(target).tabs('close', index);
                return false;
            }
        }
        );

        function iFrameHeight(obj) {
   
            //var tid = $(obj).attr("name");
           // var thisheight = $(window.frames[tid].document).find("html").height(); //获取页面高度
           // $(obj).height($("#glftabs").height()-30);
           // $(window.frames[tid].document).find("html").height($("glftabs").height());
            
            //$(obj).attr("glf_hight", thisheight);
        }
        function glf_newtab(menuid,iframeurl) {
            var tid = "glftabs_" + menuid;
            var ttid = "#" + tid;
            $('#glftabs').tabs('add', {
                title:tid,
                content: '<iframe id=' + tid + ' name =' + tid + ' onload="iFrameHeight(this)"  scrolling=auto   frameborder="0" src="' + iframeurl + '" style="width: 100%;height:95%"></iframe>',
                closable: true,
                selected: true
            });
            $('#glftabs').tabs('getTab', tid).panel('options').tab.hide();   
          // $('#glftabs').tabs('getTab',tid).panel('options').tab.hide();
        }

        function seltab(obj) {
            var menuid = $(obj).attr("menuid");
            var parid = $(obj).attr("parid");
            if (parid == 0)
                if ($(obj).find("span.label").length > 0)
                return;
            var tid = "glftabs_" + menuid;
            if (!$('#glftabs').tabs('exists',tid)) {
                glf_newtab(menuid, $(obj).attr("frameurl"));
            }
            else
                $("#glftabs").tabs("select", tid);
            //<a href="#" onclick="seltab(2,1)" class="current">Dashboard x</a>
            chgbdcb(obj);
//            var glftabs = $('#glftabs').tabs('tabs');
//            for (var i = 0; i < glftabs.length; i++) {
//                glftabs[i].panel('options').tab.hide();           
//            }
            
        }
        function chgbdcb(obj) {
            var menuid = $(obj).attr("menuid");
            var parid = $(obj).attr("parid");
            $("#breadcrumb").children("a").removeClass("current");
            $('#sidebar').find('li.active').removeClass('active');
//            if (parid < 0) {
//                $("#breadcrumb").children("a[menuid=" + menuid + "]").addClass("current");
//            }

            if (parid > 0) {
            var li = $('#sidebar').find("a[menuid=" + parid + "]").parent("li");
                li.removeClass('open').addClass('active');
                if (li.width() < 50)
                    li.children("ul").css('display', 'none');
            }
                
            else
                $('#sidebar').find("a[menuid=" + menuid + "]").parent("li").addClass('active');
//            if (parid < 0) return;
            $("#breadcrumb").children("a[menuid=" + menuid + "]").remove();
            $("#breadcrumb").append('<a href="#" onclick="selmenu(this)" menuid=' + menuid + ' class="current">' + $(obj).text() + '</a>');
            
    

        }
        function selmenu(obj) {
            $("#sidebar").find("a[menuid=" + $(obj).attr("menuid") + "]").click();
        }
        function glf_refresh() {
            var title = $("#glftabs").tabs('getSelected').panel('options').title;
            $("#" + title).attr("src", $("#" + title).attr("src"));
        }
        function glf_height(){
            var tmp = $(window).height();
            if ($(window).width() > 479) {
                tmp -= 60;
            }
            else {
                tmp -= 125;
            }
            tmp -= $("#breadcrumb").height();
            tmp -= $("#footer").height();
            $("#glftabs").css({ height: tmp })
        }
        glf_height();
        atVal += 80;
        $(window).resize(glf_height);
        $("#breadcrumb").children("a:first").click();
        atVal = 450;
        
    </script>
</body>
</html>
